{% extends 'base.html' %}
{% load static %}

{% block title %}비밀번호 변경{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/change_pwd.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="title">비밀번호 변경</div>

    <div class="message">비밀번호가 일치하지 않습니다.</div> <!-- 필요시 메시지 출력 -->

    <form method="POST">
      {% csrf_token %}

      <input type="password" name="new_password1" placeholder="변경할 비밀번호" required>
      <input type="password" name="new_password2" placeholder="비밀번호 재입력" required>

      <button class="btn" type="submit">변경</button>
    </form>
  </div>
{% endblock %}