{% extends 'base.html' %}
{% load static %}

{% block title %}사용자 프로필{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="profile-container">
    <h2>사용자 프로필</h2>

    <div class="profile-row">
      <div class="label">이름</div>
      <div class="value">김신입</div>
    </div>
    <div class="profile-row">
      <div class="label">Email</div>
      <div class="value">sinpip@gmail.com</div>
    </div>
    <div class="profile-row">
      <div class="label">입사일</div>
      <div class="value">2020.02.01</div>
    </div>
    <div class="profile-row">
      <div class="label">부서</div>
      <div class="value">인사</div>
    </div>
    <div class="profile-row">
      <div class="label">직급</div>
      <div class="value">사원</div>
    </div>

    <div class="button-row">
      <a href="/account/change_pwd/" class="btn-password">비밀번호 변경</a>
      <a href="/account/user_add_modify/" class="btn-edit">수정</a>
    </div>
  </div>
{% endblock %}