{% extends 'base.html' %}
{% load static %}

{% block title %}계정 추가/수정{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/account/user_add_modify.css' %}">
    <script src="{% static 'js/account/user_add_modify.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="form-box">
    <h2>{% if edit_mode %}사원 정보 수정{% else %}계정 추가/수정{% endif %}</h2>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-row">
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          <div class="form-input-col">
            {{ field }}
            {% if field.help_text %}
              <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div class="button-row">
        <button class="btn-create" type="submit">{% if edit_mode %}수정{% else %}생성{% endif %}</button>
        <button class="btn-cancel" type="button" onclick="history.back();">취소</button>
      </div>
    </form>
  </div>
{% endblock %}
